<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Internet Controlled Car</title>
  <meta name="description" content="">
  <meta name="author" content="Brian Huynh">

  <!-- Bootstrap goodies go here! -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- AngularJS Library -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
    	html, body {
    		height: 100%;
    	}
    	.container {
    		width: 100%;
    		height: 100%;
    		margin: 0px;
    		padding: 0px;
    	}
    	
    	.commandArea {
    		height: 100%;
    		min-height: 100%;
    		padding: 10px;
    		
    	}
    	.commandText {
    		position: relative;
    		top: 40%;
    	}
    	.chat {
    		background-color: #d3d3d3;
    		height: 100%;
    		min-height: 100%;
    		padding: 15px;

    	}
    	.chatHistory {
    		height: 85%;
    		overflow: scroll;
    		border-top-style: solid;
    		border-top-width: 1px;
    		border-top-color: #8C8787;
    	}
    	.chatMessage {
    		padding: 10px;
    		font-size: 20px;
    	}

    </style>
    
</head>

<body>

<script>
   var app = angular.module('CarController', [])
    .controller('ViewController', ['$scope', '$http', '$interval', '$timeout', function($scope, $http, $interval, $timeout) {
      var commandsURL = "users_commands.php";
      var chatURL = "users_chat.php";
      var fetchCommandsURL = "fetch_commands.php";
      var directionURL = "http://hosting.otterlabs.org/leidszacharyh/CST336/personalPractice/cst337/getDirection.php"
      $scope.list = [];
      $scope.direction = "";
      $scope.firstLoad = true;
      $scope.Timer = null;
      $scope.submit = function() {
      	
        if($scope.text) { 
          $scope.list.push(this.text); // Insert user's messsage into array
          var message = this.text.toLowerCase(); 
          
          switch (message) {
          	case "left":
          	case "right":
          	case "forward":
          	case "backward":
			case "stop":
          	     $http.get(commandsURL, {
          	        params: { command: message } // Send user message to chat and commands table
                 });
                 break;
            default:
                 $http.get(chatURL, {
          	        params: { message: message } // Send user message to chat table
                 });
          }
                     
          $scope.StopTimer(); // Stop the chat fetch timer
          
          // Wait 5 ms before chat history is fetched from backend
          $timeout(function() {
          	$http.get(fetchCommandsURL)
     .success(function(response) {$scope.list = response;});
          }, 5);
          
          $scope.StartTimer(); // Start the chat fetch timer
          $scope.text = ''; // Clear user's input field
        }
      };
      
      // Start polling timer
      $scope.StartTimer = function() {
      	$scope.Timer = $interval(function () {

			// Fetch chat from backend
      		$http.get(fetchCommandsURL)
            .success(function(response) {
     	    $scope.list = response;
     	    });
     	    
     	    // Fetch car's direction from backend
     	     $http.get(directionURL)
                .success(function(response) {
     	        $scope.direction = response.direction;
     	    });
     	    
      		
      	}, 200); // Wait 200 ms before executing functions in between
      	   
      }
      
      // Stop polling timer
      $scope.StopTimer = function() {
      	if(angular.isDefined($scope.Timer)) {
      		$scope.scrollToLast = false;
      		$interval.cancel($scope.Timer);
      	}
      }
      
      
      // Fetch chat history and car's direction when web page loads
      if($scope.firstLoad) {
          $http.get(fetchCommandsURL)
     .success(function(response) {$scope.list = response;});
     
          $http.get(directionURL)
      .success(function(response) {
     	        $scope.direction = response.direction;
     	    });
      		

          $scope.firstLoad = false;
          $scope.StartTimer();
      }
     
    }]);
    
    // Force the chat history div to constantly scroll to the last element
   app.directive('scroll', function($timeout) {
  return {
    restrict: 'A',
    link: function(scope, element, attr) {
      scope.$watchCollection(attr.scroll, function(newVal) {
        $timeout(function() {
        	element[0].scrollTop = element[0].scrollHeight;
        });
      });
    }
  }
});
</script>
	
  <div ng-app="CarController" ng-controller="ViewController" class="container">

	<div class="col-sm-9 text-center commandArea">
		<h2 class="commandText">Car's direction</h1>
		<h1 class="commandText">{{direction}}</h1>
	</div>
	<div class="col-sm-3 chat">
	  <h4 class="text-center">Chat</h2>
	   <div class="chatHistory" scroll="list">
		 <h6 class="chatMessage" ng-repeat="x in list track by $index">
			{{x.message}}
		 </h6>
	   </div>
	  <form ng-submit="submit()" role="form">
		<div class="form-group">
		  <input class="form-control input-lg" id="inputdefault" type="text" ng-model="text" maxlength="140">
		</div>
		<input type="submit" class="btn btn-primary" id="submit" value="Send">
	  </form>
	</div>

  </div>
</body>
</html>
